{% extends 'bases/base1.html' %}
{% load static %}

{% block title %}
Synchronize{% endblock %}
  {% block content %}

    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="http://placehold.it/1920x820">
      <div class="container pt-10 pb-10">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row"> 
            <div class="col-md-6">
              <h2 class="text-theme-colored2 font-36">Synchronize with Main Database</h2>
              <ol class="breadcrumb text-left mt-10 white">
                <!-- <li><a href="#">Book</a></li> -->
                <li><a href="#">Sync</a></li>
                <li class="active">{{name}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Schedule -->
    <section>
        <div class="container pt-20 pb-20">
          <div class="esc-heading lr-line left-heading">
            <h4>Vertical Tabs</h4>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="vertical-tab">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab16" data-toggle="tab">Idea</a></li>
                  <li><a href="#tab17" data-toggle="tab">Design</a></li>
                  <li><a href="#tab18" data-toggle="tab">Development</a></li>
                  <li><a href="#tab19" data-toggle="tab">Testing</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab16">
                  <div class="row">
                    <div class="col-md-12">
                    <img class="pull-left flip pr-20" width="300" src="http://placehold.it/155x90" alt="">
                      <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae. molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab17">
                  <div class="row">
                    <div class="col-md-12">
                      <img class="pull-left flip pr-20" width="300" src="http://placehold.it/155x90" alt="">
                      <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae. molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab18">
                  <div class="row">
                    <div class="col-md-12">
                      <img class="pull-left flip pr-20" width="300" src="http://placehold.it/155x90" alt="">
                      <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae. molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab19">
                  <div class="row">
                    <div class="col-md-12">
                      <img class="pull-left flip pr-20" width="300" src="http://placehold.it/155x90" alt="">
                      <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae. molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div class="row">
            <div class="col-md-12">
  <pre>
  <code class="language-markup">
  &lt;div class=&quot;vertical-tab&quot;&gt;
    &lt;ul class=&quot;nav nav-tabs&quot;&gt;
      &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#tab16&quot; data-toggle=&quot;tab&quot;&gt;&lt;i class=&quot;pe-7s-light&quot;&gt;&lt;/i&gt;Idea&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#tab17&quot; data-toggle=&quot;tab&quot;&gt;&lt;i class=&quot;pe-7s-coffee&quot;&gt;&lt;/i&gt;Design&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
  
  &lt;div class=&quot;tab-content&quot;&gt;
    &lt;div class=&quot;tab-pane fade in active&quot; id=&quot;tab16&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-md-12&quot;&gt; &lt;img class=&quot;pull-left flip pr-20&quot; width=&quot;300&quot; src=&quot;http://placehold.it/155x90&quot; alt=&quot;&quot;&gt;
          &lt;p&gt;One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae. molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;tab-pane fade&quot; id=&quot;tab17&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-md-12&quot;&gt; &lt;img class=&quot;pull-left flip pr-20&quot; width=&quot;300&quot; src=&quot;http://placehold.it/155x90&quot; alt=&quot;&quot;&gt;
          &lt;p&gt;One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae. molestiae.consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.&lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code>
  </pre>
            </div>
          </div>
        </div>
      </section>
    {% endblock content %}

  <!-- end main-content -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
{% block additionalscript %}

<script src="{% static 'js/custom.js' %}"></script>
<script>

</script>
{% endblock %}

