{% extends 'bases/base3.html' %}
{% load static %}
{% block addcss %}
<style>
    #map {
        width: 100%;
        height: 400px;
        /* Adjust the height as needed */
    }
    #loc_div{
        background-color:#D3D3D3;
    }
</style>

{% endblock addcss %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var $j = jQuery.noConflict(true);
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsH8omDk8y0lSGLTW9YtZiiQ2MkmsF-uQ&libraries=places"></script>
<!--<script type="javascript"  src="{% static 'js/map.js' %}"></script>-->
<section class="divider">
    <div class="container">

        <!--    <div class="row">-->
        <input style="display:none;" type="text" id="locationInput" placeholder="Enter a location">
        <!--         <div id="map" class="col-md-12 col-md-push-3">-->


        <!--  </div>-->
        <!--      </div>-->



        {% if regionForm %}

        <div class="row">
            <!--<input type="text" id="locationInput" placeholder="Enter a location">-->

            <div id="loc_div" class="col-md-6">
                {% if regionForm %}
          <h3 class="text-theme-colored mt-0 pt-5">City Register</h3>
          {% endif %}
          <p id="alert_p">

          {% if success %}
    <div class="alert alert-success alert-dismissible" role="alert">
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <strong>Success!</strong> Information has been successfully submitted
</div>

{% endif %}
{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <strong>Error!</strong> {{message}}
</div>

{% endif %}
          </p>
                <form id="loc_form" method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.country.label_tag }} <small>*</small></label>
                                {{ form.country }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.name.label_tag }} <small>*</small></label>
                                {{ form.name }}
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.city_code.label_tag }} <small>*</small></label>
                                {{ form.city_code }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>{{ form.city_area.label_tag }} <small>*</small></label>
                                {{ form.city_area }}
                            </div>
                        </div>
                    </div>
                    <div class="widget border-2px p-30">
                    <div class="row">

                        <div class="col-sm-8">
                            <!--<div class="widget border-1px p-30">-->
                            <div class="form-group">
                                <label>Latitude Value <small>*</small></label>
                                <input name="lat_value" id="lat_value_id" class="form-control required"
                                    placeholder="eg. 51.003848" type="text" value = "{{ context.lat_value}}">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Direction <small>*</small></label>
                                <select name="lat_direction" id="lat_direction_id" class="form-control required">
                                    <option value="N">N</option>
                                    <option value="S">S</option>

                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>Longitude Value <small>*</small></label>
                                <input name="lon_value" id="lon_value_id" class="form-control required"
                                    placeholder="eg. -51.003848" type="text" value="{{ context.lon_value }}">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Direction <small>*</small></label>
                                <select name="lon_direction" id="lon_direction_id" class="form-control required">
                                    <option value="E">E</option>
                                    <option value="W">W</option>

                                </select>
                            </div>
                        </div>


                    </div>
                    <button  id="text_locs_btn" class="btn btn-border btn-theme-colored btn-sm mt-0" data-loading-text="Please wait...">Test</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <button id="region_btn"
                                    class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10"
                                    type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="map" class="col-md-6">


            </div>
        </div>
        {% endif %}








    </div>
</section>
{% endblock content %}

<!-- end main-content -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
{% block additionalscript %}

<!--<script src="{% static 'js/custom.js' %}"></script>-->
<script>
    $(document).ready(function () {
        var map;
        var geocoder;
        var lat_dir = "{{ context.lat_direction|safe }}";
        var lon_dir = "{{ context.lon_direction|safe }}";
        document.getElementById("lat_direction_id").value =  lat_dir;
        // ('#lat_direction_id').val(lat_dir);
        document.getElementById("lon_direction_id").value = lon_dir;
        // ('#lon_direction_id').val(lon_dir);
        console.log("lat_dir", lat_dir)
        console.log("lon_dir", lon_dir)

        // Initialize the map
        function initMap() {
             map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 0, lng: 0 },
                zoom: 8
            });

            geocoder = new google.maps.Geocoder();
            $('#text_locs_btn').click(function(e){
                 e.preventDefault(e);
            $('#region_btn').click(function (){
            lat_val = validateLatitude()
            lon_val = validateLongitude()
            if (!lat_val || !lon_val){
            $("#message_text").text(message_text);
                $("#loc_alert").css({'display':'block'});
                // setTimeout(function(){  $("#loc_alert").css({'display':'none'}) }, 200);

            }
                // validateUsername()
            })
	        let lat_val = $('#lat_value_id').val()
	        let lon_val = $('#lon_value_id').val()
	        let wanted_mess = lat_val.concat(" ", lon_val);
	       // let input = "Nairobi";

	        console.log("wanted_mess ===> "+wanted_mess)
	        var input = document.getElementById('locationInput');
	        input.setAttribute('value', 'Nairobi');
	        displayLocOnMapLatLon(lat_val, lon_val);
	        console.log("input ===> "+input)
	       var searchBox = new google.maps.places.SearchBox(input);

            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();

                if (places.length === 0) {
                    return;
                }

                var place = places[0];
                if (!place.geometry) {
                    console.log("Place details not found");
                    return;
                }

                // Display the location on the map
                // displayLocationOnMap(place.geometry.location);

            });
});


        }

        function displayLocationOnMap(location) {
            map.setCenter(location);

            var marker = new google.maps.Marker({
                map: map,
                position: location
            });
        }
        function displayLocOnMapLatLon(lat_str, lon_str){
            lat_num =  lat_str.match(/-?\d+\.\d+/g);
            lon_num = lon_str.match(/-?\d+\.\d+/g);
            console.log("lat_num ===> "+lat_num)
            console.log("lon_num ===> "+lon_num)
            var newLatlng = new google.maps.LatLng(lat_num,lon_num);

            // map = new google.maps.Map(document.getElementById('map'), {
            //     center: { lat: Number(lat_num), lng: Number(lon_num) },
            //     zoom: 4
            // });
            map.panTo(newLatlng);
            map.setZoom(12)
            const marker = new google.maps.Marker({
    // The below line is equivalent to writing:
    // position: new google.maps.LatLng(-34.397, 150.644)
    position: { lat: Number(lat_num), lng:Number(lon_num)},
    map: map,
  });



  const infowindow = new google.maps.InfoWindow({
    content: "<p>Marker Location:" + marker.getPosition() + "</p>",
  });

  google.maps.event.addListener(marker, "click", () => {
    infowindow.open(map, marker);
  });



        }
        initMap();
    let temp_alert = '<div style= "display: none;" id="loc_alert" class="alert alert-danger alert-dismissible" role="alert">\
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
<p id="message_text"> <strong>Error!</strong> </p>\
</div>'
    function validateLatitude() {
       // Get the value from the selected option in a dropdown
        lat_value_val= $( "#lat_value_id" ).val();
        lat_direction_val = $( "#lat_direction_id" ).val();

        if (lat_direction_val == "N"){
            if (lat_value_val.charAt(0) == "-"){
                $("#alert_p").append(temp_alert);
                message_text = "North does not take a negative value"
                return false
            } else{
                return true
            }
        }
        if (lat_direction_val == "S"){
            if (lat_value_val.charAt(0) == "-"){
                return true
            } else{
                $("#alert_p").append(temp_alert);
                message_text = "South does takes a negative value"
                return false
            }
        }


        // alert("lat_value"+lat_value_val.charAt(0)+"lat_direction_val"+lat_direction_val);
    }
    function validateLongitude() {
        lon_value= $( "#lon_value_id" ).val();
        lon_direction = $( "#lon_direction_id" ).val();

        // alert("lon_value"+lon_value+"lon_direction"+lon_direction);
        if (lon_direction == "E"){
            if (lon_value.charAt(0) == "-"){
                $("#alert_p").append(temp_alert);
                message_text = "East does not take a negative value"
                return false
            } else{
                return true
            }
        }
        if (lon_direction == "W"){
            if (lon_value.charAt(0) == "-"){
                return true
            } else{
                $("#alert_p").append(temp_alert);
                message_text = "West does takes a negative value"
                return false
            }
        }

    }
    $('#region_btn').click(function (){
            lat_val = validateLatitude()
            lon_val = validateLongitude()
            if (!lat_val || !lon_val){
            $("#message_text").text(message_text);
                $("#loc_alert").css({'display':'block'});
                // setTimeout(function(){  $("#loc_alert").css({'display':'none'}) }, 200);

            }
                // validateUsername()
            })
    });





</script>
<script type="text/javascript">
          function validateUsername() {
       alert("Working");
    }
    let temp_alert = '<div style= "display: none;" id="loc_alert" class="alert alert-danger alert-dismissible" role="alert">\
 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>\
<p id="message_text"> <strong>Error!</strong> </p>\
</div>'
    function validateLatitude() {
       // Get the value from the selected option in a dropdown
        lat_value_val= $( "#lat_value_id" ).val();
        lat_direction_val = $( "#lat_direction_id" ).val();

        if (lat_direction_val == "N"){
            if (lat_value_val.charAt(0) == "-"){
                $("#alert_p").append(temp_alert);
                message_text = "North does not take a negative value"
                return false
            } else{
                return true
            }
        }
        if (lat_direction_val == "S"){
            if (lat_value_val.charAt(0) == "-"){
                return true
            } else{
                $("#alert_p").append(temp_alert);
                message_text = "South does takes a negative value"
                return false
            }
        }


        // alert("lat_value"+lat_value_val.charAt(0)+"lat_direction_val"+lat_direction_val);
    }
    function validateLongitude() {
        lon_value= $( "#lon_value_id" ).val();
        lon_direction = $( "#lon_direction_id" ).val();

        // alert("lon_value"+lon_value+"lon_direction"+lon_direction);
        if (lon_direction == "E"){
            if (lon_value.charAt(0) == "-"){
                $("#alert_p").append(temp_alert);
                message_text = "East does not take a negative value"
                return false
            } else{
                return true
            }
        }
        if (lon_direction == "W"){
            if (lon_value.charAt(0) == "-"){
                return true
            } else{
                $("#alert_p").append(temp_alert);
                message_text = "West does takes a negative value"
                return false
            }
        }

    }
            loc_form = $('#loc_form')
            $('#region_btn').click(function (){
            lat_val = validateLatitude()
            lon_val = validateLongitude()
            if (!lat_val || !lon_val){
            $("#message_text").text(message_text);
                $("#loc_alert").css({'display':'block'});
                // setTimeout(function(){  $("#loc_alert").css({'display':'none'}) }, 200);

            }
                // validateUsername()
            })
            // $("#job_apply_form").validate({

            //   submitHandler: function(form) {
            //     var form_btn = $(form).find('button[type="submit"]');
            //     // validateUsername();
            //     var form_result_div = '#form-result';
            //     $(form_result_div).remove();
            //     form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
            //     var form_btn_old_msg = form_btn.html();
            //     form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
            //     $(form).ajaxSubmit({
            //       dataType:  'json',
            //       success: function(data) {
            //         if( data.status == 'true' ) {
            //           $(form).find('.form-control').val('');
            //         }
            //         form_btn.prop('disabled', false).html(form_btn_old_msg);
            //         $(form_result_div).html(data.message).fadeIn('slow');
            //         setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
            //       }
            //     });
            //   }
            // });
          </script>
{% endblock %}